[2019-11-14 08:15] andrii-bodnar opened #19 "Request user to log in again after changing distribution hash"
Log in is required for features **Real-time Preview** and **Screenshots** for making API requests. When a user changing the _distribution hash_ in SDK config, we need to ask him to log in again.

[2019-11-15 11:33] #19 closed

[2020-01-03 13:46] vcs-jenkins opened #36 "Support for Swift Package Manager"
I saw that only Cocoapods is supported at the moment and it would be nice to have a support for Carthage and Swift Package Manager. Currently we use Carthage, but planning to move to Swift Package Manager (having it in xCode) in the future.

[2020-01-03 14:28] andrii-bodnar commented on #36
@vcs-jenkins Hello, thank you for your suggestion!
We've already started to implement _Carthage_ and _Swift Package Manager_ support. We will keep in touch in case of any updates.

[2020-04-06 12:36] carayolthomas opened #61 "Starscream version"
**Is your feature request related to a problem? Please describe.**
I am trying to add your SDK in an iOS app which depends on the latest `Starscream` version `3.1.1`. However your SDK depends on the `3.0.6` version.

**Describe the solution you'd like**
Is it planned to update `Starscream` to `3.1.X`?

[2020-04-06 14:39] andrii-bodnar commented on #61
Hi @carayolthomas, thanks a lot for your suggestion.

Already checking the possibility to update the `Starscream` version.

[2020-04-07 06:27] #61 closed

[2020-04-09 05:32] artproton33 opened #64 "B"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2020-04-09 07:56] #64 closed

[2020-05-07 19:58] denys-meloshyn commented on #36
Any updates? 🙃

[2020-05-11 09:38] andrii-bodnar commented on #36
@denys-meloshyn hi, currently there are no updates.

[2020-06-05 19:04] andrii-bodnar opened #67 "Make 'redirectURI' optional"
`redirectURI` config option is used for *Screenshots* and *Real-Time Preview* features. It's needed to redirect to the application after login in Crowdin.

It would be great If it's possible to access this URL from SDK code and use it in the config if features above are enabled and if `redirectURI` was not provided.

[2020-07-07 13:15] #67 closed

[2020-08-12 10:05] bzz445 opened #84 "Thread 1: Simultaneous accesses to <address>, but modification requires exclusive access"
**Describe the bug**
Try change localization after startWithConfig from Objective-C

**To Reproduce**
Call [CrowdinSDK enableSDKLocalization:false localization:@"fr"]; or [CrowdinSDK setCurrentLocalization:@"fr"];

[2020-08-29 19:52] THNgit opened #88 "8b725e7"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-29 21:06] Olena1234 commented on #88
@THNgit Hello! Could you please describe your request/proposition with more details? Is there anything that we can help you with at the moment?

[2020-08-31 06:02] #88 closed

[2020-09-11 09:45] #84 closed

[2020-09-14 13:33] dehlen opened #90 "Crash when accessing `currentLocalization` on startup in 1.1.4"
**Describe the bug**
In `applicationDidFinishLaunching`:

[code]

calling enableSDKLocalization will crash on a device (when running the app in Release Mode). When running with DEBUG configuration it works fine. I think it only crashes in Release mode because the build setting SWIFT_ENFORCE_EXCLUSIVE_ACCESS only crashes the app in release mode and it seems like this is the root cause of the crash.

[2020-09-17 11:24] dehlen commented on #90
Did you have time to look into this already?

[2020-09-17 11:28] ira-sem commented on #90
Hi @dehlen ! Thanks a lot for the detailed explanation and the steps to reproduce! it is much appreciated

Our developers are already looking into this. We will keep you posted

[2020-09-21 08:24] serhii-londar commented on #90
Hi @dehlen, Thanks for your report! Could you please check fix from `fix-#90` branch.
Please checkout library from this branch using cocoapods:

[code]

Please check whether this fix works for you, and leave feedback.

[2020-09-21 09:37] dehlen commented on #90
Hi,

thank you very much. I'll test with the latest fixes from the PR and will report back to you in the next couple of hours.

Kind regards,
David

[2020-09-21 11:45] dehlen commented on #90
I just had a look at the new version and the crash seems to be fixed for us. Thanks again 👍

[2020-09-21 11:45] #90 closed

[2020-09-21 13:00] serhii-londar commented on #90
Thank you!
We will release a new version soon.

[2020-09-21 15:40] serhii-londar commented on #90
@dehlen New version has uploaded.

[2020-10-02 06:19] bzz445 opened #93 "ld: framework not found BaseAPI"
**Describe the bug**
For test i created empty projects (objective-c and swift) with one pod CrowdinSDK and when run Build on **Any iOS device** or **Simulator** get this error. For Swift project: `ld: framework not found BaseAPI`. For Objective-c project: `fatal error: module map file '~/Library/Developer/Xcode/DerivedData/Empty-dnjsexrkxdmbmeaeuqkddudleoda/Build/Products/Debug-iphonesimulator/Bas

[2020-10-06 11:00] serhii-londar commented on #93
Hi @bzz445, Thanks for your report. I couldn't reproduce your issue. Could you please share your example project with me?

[2020-10-30 14:22] serhii-londar commented on #93
@bzz445 Any updates there?

[2020-12-14 02:29] 6122617139 opened #105 "The app needs a update"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-14 07:46] #105 closed

[2020-12-14 08:01] #93 closed

[2020-12-17 06:42] bohiendq opened #106 "Hiengoku"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2020-12-17 06:42] bohiendq opened #107 "Hiengoku"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2020-12-17 06:43] bohiendq commented on #105
DKdjdrk

[2020-12-17 07:41] #106 closed

[2020-12-17 07:42] #107 closed

[2020-12-28 15:38] svareniem opened #109 "Flutter SDK"
I love your OTA and Real-time updates feature for Android/iOS. Would be great to have Crowdin SDK for Flutter.
Thanks for great work!

[2021-01-07 21:46] dabaicaifen opened #110 "Screenshot broken on 1.1.7"
After upgrading Crowdin to 1.1.7, I found the screenshot function is broken.
And after some debugging, I found several issues.

# Precondition:
My project has multiple localized string files.

# Issues
## 1. Distribution only contains 1 file:
- This download `[CrowdinMappingDownloader download(with hash:...]`  succeed.
- But `[ScreenshotUploader uploadScreenshot(screenshot:...]` gets early return.

[2021-01-07 21:47] crowdin-support commented on #110
Hello,

Thank you for reaching Crowdin team.

Kindly note that our replies may be slower than usual due to national
holidays until January 8th (response time should not exceed 24h though),
also live chat will become active again from January 8th, 5AM UTC.

Any urgent inquiries will be resolved with the highest priority, inbox is
always monitored 🙄

All the best in 2021!

--
Sincerely yours,
Crowdi

[2021-01-07 21:50] Andrulko commented on #110
Thanks a lot for a detailed report! We'll make sure this case is prioritized and gets resolved shortly

[2021-01-07 21:51] crowdin-support commented on #110
Hello,

Thank you for reaching Crowdin team.

Kindly note that our replies may be slower than usual due to national
holidays until January 8th (response time should not exceed 24h though),
also live chat will become active again from January 8th, 5AM UTC.

Any urgent inquiries will be resolved with the highest priority, inbox is
always monitored 🙄

All the best in 2021!

--
Sincerely yours,
Crowdi

[2021-01-08 14:52] dabaicaifen opened #111 "Auto-tagging not working"
**Describe the bug**
The uploaded screenshots without tagging.

**To Reproduce**
1, Only 1 localized string file, and related screen.
2, Integrate SDK, and capture screenshots.

**Expected behavior**
The uploaded screenshots have auto-tagging.

**Smartphone (please complete the following information):**
 - Device: simulator, iPhone 12
 - OS: iOS 14.3
 - Crowdin: 1.1.7

**Additional context**
After

[2021-01-08 15:15] DimaYashchyshyn commented on #111
Hi @dabaicaifen

Thanks for informing us! Already passed it into further investigation

[2021-01-17 17:34] serhii-londar commented on #110
@dabaicaifen Could you please try out the new version 1.1.8, screenshots should be fixed there. Please check and give your feedback.

[2021-01-17 17:34] serhii-londar commented on #111
@dabaicaifen Could you please try out the new version 1.1.8, screenshots should be fixed there. Please check and give your feedback.

[2021-01-19 17:17] dabaicaifen commented on #110
@serhii-londar The screenshots function is still broken, and I still hit the same error that I reported.

[2021-01-19 17:18] dabaicaifen commented on #111
@serhii-londar Auto-tagging is still broken because the screenshots function is still broken (https://github.com/crowdin/mobile-sdk-ios/issues/110)

[2021-01-19 17:22] andrii-bodnar commented on #110
Hi @dabaicaifen!

We can't reproduce this error. Could you please provide more details about your environment, SDK configuration?

Is this error is reproducible on the Example project?

[2021-01-20 14:29] dabaicaifen commented on #110
The issue is occurring on an Enterprise product, which contains a very large amount of the localized files (47 localized files, and a specific folder for localization).
I think the issue is related to your distribution link cannot handle this size of the localized files. Your example project might be too small for this issue.

# Configuration:

`providerConfig`: distribution hash string and source

[2021-02-08 18:51] ZackMcBride commented on #36
Is this still on your roadmap? Any ETA?

[2021-02-09 08:37] andrii-bodnar commented on #36
Hi @ZackMcBride!

It turned out to be quite difficult and we postponed this for the future in favor of higher prioritized tasks

We will let you know in this issue in case of any updates

[2021-03-04 09:11] serhii-londar commented on #110
@dabaicaifen Could you please check whether this issue fixed in v. 1.2.0?

[2021-03-04 09:11] serhii-londar commented on #111
@dabaicaifen Could you please check whether this issue fixed in v. 1.2.0?

[2021-03-29 05:02] winstondu opened #125 "Obtain logs from crowd-in"
**Is your feature request related to a problem? Please describe.**
For our code, we have a central logging service that sends logs to our server. We would like to keep that consolidated with our server.

**Describe the solution you'd like**
Add a callback whenever CrowdIn logs something (This would probably be via the `CrowdinLogsCollector`.) The iOS client can then set this callback and we can ge

[2021-03-31 00:42] winstondu opened #126 "When app is in source language and debugger is attached, strings are displayed in caps"
**Describe the bug**
![image](https://user-images.githubusercontent.com/8174310/113073202-89933e80-917d-11eb-8436-eed6e9d56a23.png)
Normally, when `bundle.localizedString()` fails to find the value for the key, **it returns the key**. However, when localization debugging is turned on and the app is run in debug, **it returns the capitalized version of the key.**

This is an issue, because this mea

[2021-03-31 00:44] BozhenaDobrovolska commented on #126
Hi Winston! Thank you for the report!
I will pass it on to our devs and will keep you posted

[2021-04-05 15:53] andrii-bodnar commented on #110
@dabaicaifen Could you please check if this issue is fixed now for you?

[2021-04-05 15:53] andrii-bodnar commented on #111
@dabaicaifen Could you please check if this issue is fixed now for you?

[2021-04-07 07:44] NazarYavornytskyy commented on #125
@winstondu we provide a log callback functionality for next version of SDK, it looks like this:
CrowdinSDK.setOnLogCallback { logMessage in
            print("LOG MESSAGE - \(logMessage)")
        }

Hope it will work for you, please confirm, thanks

[2021-04-13 13:46] #111 closed

[2021-04-13 13:46] #110 closed

[2021-04-20 10:57] dbxdb commented on #36
Hi @andrii-bodnar, SPM may be difficult, but support of at least Carthage would be really appreciated 🙂 Any chance to re-prioritize the tasks?

[2021-04-20 11:42] andrii-bodnar commented on #36
Hi @dbxdb!
We will re-prioritize this task and will try to implement Carthage support first

[2021-04-20 15:18] #125 closed

[2021-06-16 08:10] sebastianopighi commented on #36
Hi @andrii-bodnar, there's any update on this?

[2021-06-16 08:17] andrii-bodnar commented on #36
Hi @sebastianopighi,

Currently, we are working on this. Faced with an obstacle because some of the SDK dependencies are not published as a framework, but we have a plan how to solve this :slightly_smiling_face:

[2021-06-22 04:00] Captain-MK opened #135 "nw_resolver_start_query_timer_block_invoke [C12] Query fired: did not receive all answers in time for distributions.crowdin.net:443"

[2021-06-23 13:30] serhii-londar commented on #135
@Captain-MK Can you please provide more details about your issue?

[2021-06-23 13:34] serhii-londar commented on #126
Hi @winstondu ! Sorry for delay. We've tried to reproduce your issue. In debug mode SDK shows unlocalised strings capitalised not uppercased, so we're not fully understand what is the issue. Please provide some more details about it. Also, can you reproduce the issue in our example project?

[2021-08-03 10:42] GerardRiera opened #137 "CrowdinSDK not downloading certain localizable.strings files"
Dear Crowdin developers,

I'm working on an App that has the following languages

- Danish
- Dutch
- Dutch, Belgium
- English, United Kingdom
- English United States
- French
- French, Belgium
- German
- Swedish

I want those strings to be downloaded via the CrowdinSDK, however, some strings are not being downloaded and I don't know why.

I've have eagerly followed the CrowdinSDK installation and

[2021-08-10 15:19] #137 closed

[2021-08-11 19:11] d4r1091 opened #141 "CrowdinSDK uses the unencrypted 'http' protocol"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. On your project, run `pod update --repo-update`
2. Observe the issue

**Expected behavior**

Shouldn't happen

**Smartphone (please complete the following information):**
- macOS terminal

[2021-08-11 19:25] Olena1234 commented on #141
Hello! Thank you for the report, we will check it with devs and come back to you

[2021-08-12 22:09] #141 closed

[2021-08-12 22:35] serhii-londar commented on #141
@d4r1091 Hi, a fix for the issue is provided. Please try the new version 1.2.3.

[2021-08-23 19:09] TSkovsgaard commented on #36
How is the SPM-1.0 branch coming along, do we get SPM support in the near future ? Or do you have a guide on how to add it manually?

[2021-08-23 19:11] DimaYashchyshyn commented on #36
Hi @TSkovsgaard
We'll check your question and update you

[2021-08-30 08:13] TSkovsgaard commented on #36
@serhii-londar I have integrated with success, I don't see any obvious problems. My project was using Cocoapods and SPM (Crowdin was the last gem in my pod file, other dependencies already moved to SPM) so I did a pod deintegrate and used the xcodeproj instead of xcworkspace. Didn't change any of my current Crowdin implementation, OTA updates works.

I do get a couple of "No method declared with O

[2021-08-30 08:23] TSkovsgaard commented on #36
@serhii-londar Another issue in Xcode Package loading it gives this warning:
`ignoring declared target(s) 'swift-nio-zlib-support' in the system package`

[2021-09-10 08:59] weberlisper opened #144 "Example can't authorize success."
I create a project in crowdin, and replace distributionHash, sourceLanguage, clientId, clientSecret in SceneDelegate.swift file. After I run the Example, and click "Log in" but authorize failed. the status code is 401, and the error message is "Client authentication failed".
I use the same configuration in android sample, but success.

[2021-09-10 09:16] denisqua commented on #144
Hi @weberlisper !

I'm sorry for the issue you've faced with!

Please check the **clientId**, **clientSecret** and **redirect URL** in OAuth configuration on Crowdin.

Redirect URL should match your App scheme. For example, for <`data android:scheme="crowdintest" />` redirect URL in Crowdin should be `crowdintest://`

Also, if you are using crowdin.com, not Crowdin Enterprise, organization_name in

[2021-09-10 09:21] denisqua commented on #144
I personally have assumption that the root is a redirect URL (it should be `crowdintest://`) or you may try as on my screenshot:

![3](https://user-images.githubusercontent.com/50862381/132831634-bacbc752-790e-44f3-8f43-773d92c00f3d.png)

[2021-09-10 09:27] weberlisper commented on #144
This is my redictURL:
![image](https://user-images.githubusercontent.com/29965087/132832274-81bd3e87-c549-4249-adb5-fc45d146f470.png)
And I copy crowdintest://  in SceneDelegate.swift file, but got error:
![image](https://user-images.githubusercontent.com/29965087/132832555-47b41bf1-38d8-4af7-b499-9a43f3a47219.png)

[2021-09-10 09:45] weberlisper commented on #144
I try your screenshot, but failed:
![image](https://user-images.githubusercontent.com/29965087/132834926-0059e73c-96e6-4fda-8847-564f309835a1.png)

[2021-09-10 09:50] weberlisper commented on #144
@denisqua Hello

[2021-09-10 09:54] denisqua commented on #144
Let's go answer by answer:

1. **>And I copy crowdintest:// in SceneDelegate.swift file, but got error:**

According to that one, seems it isn't necessary to have **crowdintest://** in the SceneDelegate.swift file:
https://github.com/crowdin/mobile-sdk-ios/blob/master/Example/AppleReminders/SceneDelegate.swift

So I kindly ask to remove it from the  SceneDelegate.swift file (and do everything acco

[2021-09-10 10:00] weberlisper commented on #144
Thank you very much. It works!

[2021-09-10 10:02] denisqua commented on #144
@weberlisper  you're welcome as always!

[2021-09-13 09:23] #144 closed

[2021-09-17 08:11] winstondu commented on #126
@serhii-londar , could you explain what isn't clear?

The proposed fix is that CrowdIn actually downloads the source language `plist` file if it isn't in the project.

[2021-09-17 08:24] serhii-londar commented on #126
@winstondu Could you describe the issue with steps and your project settings on Crowdin?

[2021-09-27 05:53] TSkovsgaard commented on #36
@serhii-londar any news regarding SPM support ?

[2021-11-10 03:59] samchanLLM opened #150 "Crash on startup at LocalLocalizationExtractor.localizedString(for:)"
**Describe the bug**
After we turned the Crowdin OTA feature on our apps, we have seen quite a number of crashes on Firebase, all pointing to LocalLocalizationExtractor.localizedString(for:), which is a file in CrowdinSDK

For example here
![Screenshot 2021-11-10 at 11 36 32 AM](https://user-images.githubusercontent.com/94030425/141045359-ec3d398e-73c0-445f-8868-3dec6bb416ac.png)

**To Reproduce**

[2021-11-10 04:04] Olena1234 commented on #150
Hello! Thanks, checking

[2021-11-11 10:17] andrii-bodnar commented on #150
Hi @samchanLLM!
Could you please share the full SDK initialization part (in the *AppDelegate.swift* file) and your distribution hash? It will be better to share this data using the [contact form](https://crowdin.com/contacts) with mention of this issue.

[2021-11-12 02:23] samchanLLM commented on #150
just sent, thanks!

[2021-11-12 02:33] Rommka4 commented on #150
Hi @samchanLLM !

Thank you, we have received your message with the attached file!

We will let you know as soon as there are updates!

[2021-11-15 09:26] samchanLLM commented on #150
Hello, I want to update my description here. I did reproduce the crash I mentioned, and it seems it was due to Crowdin SDK try to get the localized string even if I didn't use NSLocalizedString function, one of the example was it crash when trying to display my username (which does not exist in the String file obviously)

Hope it helps!

[2021-11-15 10:18] ira-sem commented on #150
Hi @samchanLLM ! replied in the email where you previously shared the file with us

[2021-11-24 07:15] samchanLLM commented on #150
Hello, may I know are there any updates?

[2021-11-24 08:22] ira-sem commented on #150
Hi Sam! Sorry for the delay! Will ask the developers for the update and reach you back

[2021-11-26 19:41] Anton-Oliinyk opened #151 "iOS xib file translations"
We have a project that use Crowdin SDK translations, today we found out that .xib files not updating if you did release with updated translations on the crowding website. We got old translations in .xliff file on fresh app install and if update something on the website and release it will not be sent to the app. With .strings files, everything works perfectly fine.

Steps to reproduce the behavior

[2021-11-26 19:44] nataliacrowdin commented on #151
Hi Anton! Let me check everything on our side. We will keep you update on the matter

[2021-11-30 17:22] chrispomeroyhale opened #152 "Adding tvOS support"
My team is exploring integrating this SDK for Over-the-Air support to help reduce the releases we need to make just for translations. Our code base is shared between iOS and tvOS which may defeat the purpose if Over-the-Air isn't supported on one platform. Is there a timeline for providing tvOS support?

[2021-11-30 17:39] tattiza commented on #152
Hi!
We're planning to investigate this deeply in the near future, but I can't provide an ETA at the moment, as we're working on implementation of swift package manager

[2021-12-02 12:56] StasMalinovsky commented on #36
@serhii-londar I was using SDK installed with SPM from branch "spm-1.0" on different projects. Everything was fine, OTA updates works. But today I am getting error while resolving package versions. Removing and adding package again doesn't helps. Has something changed?
<img width="573" alt="image" src="https://user-images.githubusercontent.com/9890652/144426032-85fb05d5-0bee-4711-be8e-eed75479aee6

[2021-12-02 13:24] serhii-londar commented on #36
@StasMalinovsky Thank for reporting the issue!
The issue was with version resolving. Please try to update your packages now, should work.

[2021-12-02 13:39] StasMalinovsky commented on #36
@serhii-londar Thanks for a quick response! Everything works fine now!

[2021-12-04 20:45] d4r1091 commented on #151
Hello @nataliacrowdin 👋 , is there any update on this? Thanks very much for the support

[2021-12-04 20:58] Rommka4 commented on #151
Hi Dario @d4r1091👋
Sorry for the delay, but I haven't received any updates yet😬
We will be sure to let you know as soon as we receive updates or need additional information

[2021-12-15 17:26] stevi-clue opened #158 "Content Delivery from two Crowdin projects at the same time on iOS"
Hi! I am wondering if it is currently possible to have content delivery and real-time preview from two Crowdin projects at the same time? I saw the example project, but that one only describes how to fetch data from only one project.

Thank you beforehand!

[2021-12-15 17:45] TaniaMal commented on #158
Hi @stevi-clue!

Unfortunately, there is no such a possibility to have content delivery and real-time preview from two Crowdin projects at the same time, since it requires a distribution created within a project. A separate distribution should be created per one separate project, but there is no possibility in SDK to connect two distributions at the same time.

Hope for your understanding here!

[2021-12-16 10:49] stevi-clue opened #159 "Real time preview not working"
Hello!

I am trying to get the real-time preview working on iOS.

So far I was able to successfully log in and turn the "Real-time" setting to on, however when I type something in the Crowdin editor, the translation is not shown on the device. It also does not work when I click on "Reload translations". The only way this is reflected in the device is when I save the translation and I release the d

[2021-12-16 11:19] ira-sem commented on #159
Hi @stevi-clue ! Could you please also let us know the project name?

[2021-12-16 12:13] stevi-clue commented on #158
Thank you for your answer :)

[2021-12-16 12:16] stevi-clue commented on #159
Thank you for your help! Even though this did not work for the project that I am working on, it worked for the sample project (applereminders) with the same settings, however the real-time preview did not kick in immediately. After a couple of killing and launching the app again, it started working.

[2021-12-16 13:49] ira-sem commented on #159
Could you please confirm that you followed all the steps from the instructions? also, can you check the following:
-> the same resource files are uploaded to Crowdin as you have in the application.
-> the application should have the same language chose as you choose in the Crowdin editor
-> you should be logged in with the same user

[2021-12-27 16:05] #151 closed

[2021-12-27 16:26] andrii-bodnar commented on #151
Hi @Anton-Oliinyk!

We are planning to release this fix soon (waiting for another PR merge before the new version released)

For now, you can try it in the following way:

[code]

Also, we will be grateful for the feedback :)

[2021-12-27 17:26] serhii-londar opened #160 "Support for Carthage"

[2021-12-27 17:27] serhii-londar commented on #36
Carthage support is moved to separate issue -  #160

[2021-12-29 13:47] #152 closed

[2021-12-30 14:47] serhii-londar commented on #36
Issue closed as SPM support added in v 1.4.0 - https://github.com/crowdin/mobile-sdk-ios/releases/tag/1.4.0

[2021-12-30 14:47] #36 closed

[2021-12-30 14:49] #135 closed

[2022-01-14 00:58] chrispomeroyhale opened #163 "Option to disable method swizzling of NSLocalizedString"
**Is your feature request related to a problem?**
My teammates have communicated concern about the use of Objective-C [method swizzling of NSLocalizedString](https://github.com/crowdin/mobile-sdk-ios/blob/master/Sources/CrowdinSDK/CrowdinSDK/Extensions/Bundle/Bundle+Swizzle.swift). The SDK unexpected changes functionality of something it doesn't own (an Apple API), and we may unknowingly be integr

[2022-01-14 01:11] chrispomeroyhale opened #164 "Exclude Starscream dependency from core functionality"
**Is your feature request related to a problem? Please describe.**
In our app two of the metrics we monitor is app startup time and memory usage. In evaluating the performance impact of this SDK on our app, in our usage the SDK takes an average of 1.0MB of additional memory and increases our app startup time by an average of 0.6 seconds. Since we are only using over-the-air functionality for now,

[2022-01-22 02:12] chrispomeroyhale opened #165 "End to end tests for important use cases"
**Is your feature request related to a problem? Please describe.**
My team is exploring integrating with the Crowdin SDK which we are excited about. I have been tasked with finding out what happens if we depend on Over-the-Air translations and there's a network failure.

I started writing some additional tests. It became clear that although some aspects of this project are easily testable, the cha

[2022-01-22 02:38] Rommka4 commented on #165
Hi @chrispomeroyhale !
Thank you for sharing all the details with us, our developers will be able to check everything in detail and answer you from Monday
In the meantime, I wish you a good day!🙂

[2022-01-27 17:48] serhii-londar commented on #163
@chrispomeroyhale Thanks for the suggestion!
First of all, we need swizzling for comfortable usage of our SDK. After adding our SDK you don't need to change all NSLocalizedString() methods with some method from our SDK, it will automatically use localized strings from Crowdin. I think lots of people use extensions and it's not a big problem, but generally, our implementation should save the develo

[2022-01-27 23:40] chrispomeroyhale commented on #165
I'd like to share what I have figured out so far, which the developers are free to use or modify or reject.

My first attempt tries to see what happens if the `RemoteLocalizationStorageProtocol` doesn't return any strings -- simulating what might happen if the network requests fail. The code below shows that the `Localization` falls back to the translation from the `Localizable.strings` bundled wi

[2022-01-27 23:53] tattiza commented on #165
Hi!
Thanks for the additional comment, will share it with the team
Once we have any news - we'll come back with the reply!

[2022-01-29 00:26] chrispomeroyhale commented on #163
Thanks for the reply @serhii-londar! I am not suggesting removing swizzling for all clients, I agree that it makes the SDK a drop-in replacement for most use cases.

However, for historical reasons our application already has a wrapper around our calls to `NSLocalizedString`. There is talk about removing calls to `NSLocalizedString` entirely because we have business rules where the server can modi

[2022-02-08 11:23] alexookah opened #167 "SPM starscream dependency should use latest version 4.0.4"
Trying to use the crowdinSDK SPM, I noticed that
https://github.com/crowdin/mobile-sdk-ios/blob/master/Package.swift has dependency on Starscrem.

Starscream should be used with the latest version which is 4.0.4:
https://github.com/daltoniam/Starscream/releases/tag/4.0.4

I already use Starscream with version 4.0.4 and can't import crowdinSDK because Starscream dependency uses an older version.

[2022-02-08 14:05] #164 closed

[2022-02-09 01:18] chrispomeroyhale opened #169 "Starting the SDK blocks the app from loading until the manifest downloads"
**Describe the bug**
It appears that calling `startWithConfig` is synchronous which prevents client apps from continuing to load while the SDK loads. This is potentially important to us because it impacts app start time which is a key metric for us.

Our team is a little confused because it has an `@escaping` completion handler. And because while downloading the `manifest.json` blocks, downloading

[2022-02-09 01:26] tattiza commented on #169
Hi there,
Thanks for reporting the bug!
We'll check with the team and come back with the update

[2022-02-09 15:23] serhii-londar commented on #167
Fixed in 1.4.1

[2022-02-09 15:23] #167 closed

[2022-02-18 02:27] chrispomeroyhale opened #173 "Duplicate requests and larger than expected response sizes"
**Describe the bug**
We are integrating the SDK for Over-the-Air functionality and we are noticing some additional network requests go out which leads to larger request sizes going out. Our app experiences a high volume of customers.

1. On each app start we see 2-3 requests for `manifest.json`. This always returns HTTP 200 and is not cached. ~35KB response size each
2. For each localization file

[2022-02-23 14:20] alexookah opened #175 "Use only Screenshots without CDN"
Is it possible to use only screenshots feature without defining a crowdinProviderConfig (CDN project hash)?

[2022-02-23 14:30] andrii-bodnar commented on #175
Hi @alexookah!
The distribution hash is required for the Screenshots feature because this feature is using `mapping` files. Mapping files - is a mapping between string IDs and keys. It is needed for tagging strings on screenshots.

[2022-02-23 14:31] #175 closed

[2022-02-23 14:33] alexookah opened #176 "Stopping the CrowdinSDK"
I want to add a settings button in our app to enable/disable the SDK.
Calling CrowdinSDK.stop() does not remove the hover button.

Is this a bug? or is there another way to stop the startedSDK ?

[2022-02-23 14:44] andrii-bodnar commented on #176
@serhii-londar do we have the ability to stop the SDK?

[2022-02-23 22:01] dannyhuggins opened #177 "Crash on Apple TV device"
**Describe the bug**
I am getting an app crash when using the SDK on a physical Apple TV device.  I get the following error when the SDK is attempting to create the CrowdinFolder for the translation files:

Note that this does not happen on the Apple TV simulator in Xcode, only a physical device.

**To Reproduce**
Steps to reproduce the behavior:
1. Build to a physical Apple TV device
2. The app c

[2022-02-24 10:28] serhii-londar commented on #176
@andrii-bodnar Yes, the method mentioned above. We just stop the translation related functionality. Additional work needed to stop all the rest features.

[2022-03-02 17:40] dannyhuggins commented on #177
is there a timeline for a bug fix for this?  thanks in advance!

[2022-03-03 22:05] dannyhuggins commented on #177
@serhii-londar unfortunately it's only possible to reproduce on a real device.  The documents directory isn't accessible on real devices, so I'm not sure why Apple lets you access it on a tvOS simulator.

[2022-03-08 22:40] dannyhuggins commented on #177
I experimented the `documentsPath` by pointing it to the `.cacheDirectory` instead of the `.documentDirectory`.  Since the cache directory can be purged by the device, I tested what happens if the cache is deleted.  It appears that the SDK will reconstruct the cache, but the `en.plist` file that previously contained the translations is now empty and I can no longer user OTA translations.  I was un

[2022-03-13 00:31] serhii-londar commented on #177
@dannyhuggins  Hi, can you please test whether changes from #180 request fixed that crash?

[2022-03-14 15:35] dannyhuggins commented on #177
hey @serhii-londar I will take a look, thanks!

[2022-03-17 22:40] dannyhuggins commented on #177
@serhii-londar We are no longer seeing a crash with this fix!  However, our team noticed that if the tvOS cache is cleared, we are not seeing Crowdin re-retrieve OTA translations and instead falls back to the bundled translations. Our guess is it has something to do with `ETagStorage` using `UserDefaults` but we aren’t sure.

[2022-03-17 22:43] serhii-londar commented on #177
@dannyhuggins Thank you for checking it! Can you please send what path is used? Caches or Application Support?

[2022-03-18 23:22] chrispomeroyhale opened #182 "Setting an unsupported locale code doesn't fall back to a language code"
**Describe the bug**
Currently, our server tells the clients which locale code to use. (We recognize this is backwards.) This means we call `CrowdinSDK.currentLocalization` to override the target language. The concern is that the [Crowdin supported language codes](https://support.crowdin.com/api/language-codes/) doesn't list "Italian Italy" (`it-IT`) just Italy (`it`). Same story with `fr-FR`. Mea

[2022-03-18 23:27] DimaYashchyshyn commented on #182
@chrispomeroyhale Greetings. We'll review your comment and update you on the matter after that.

[2022-03-21 08:34] #169 closed

[2022-03-24 21:50] dannyhuggins commented on #177
it's using the Application Support folder, at least on the simulator.  Having an issue with my AppleTV at the moment

[2022-03-24 22:39] serhii-londar commented on #177
Thank you, I will continue work on support.

[2022-04-18 10:10] Radzievskyi opened #185 "watchOS comparability issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create watchOS project
2. Add CrowdinSDK with Swift Package: https://github.com/crowdin/mobile-sdk-ios.git
3. In the WatchKit Extension module open:
   **Build Phases -> Link Binary With Libraries**
and add CrowdinSDK
4. Open **ExtensionDelegate.swift** and add
`import Cro

[2022-04-26 08:36] stevi-clue opened #186 "Access Markdown files via Over-the-air content delivery."
Hello

I noticed that via the Tools -> Over-the-air(OTA) content delivery -> Distributions, we can select and release files that are not only Localizable.strings, but also .mdown files. Reading through the documentation, I saw that the the OTA content delivery does not change existing files or add new files, which means that they don't exist in the file system of the project when running the app.

[2022-04-26 08:45] andrii-bodnar commented on #186
Hi @stevi-clue!

Currently, the iOS SDK works only with iOS-related file types (strings, stringsdict, xliff).

Could you please describe your use case? Why do you need to access markdown files in your iOS app?

[2022-04-26 11:39] stevi-clue commented on #186
Thanks for the fast reply!

In the project that we are working on, we are currently in the process of decoupling the engineering from the localization work so that someone without iOS knowledge can add new/update and release strings without requiring a new iOS version release. This works great by using Localizable.strings, but we also have some other types of use cases.

One of them is displaying

[2022-04-26 11:50] andrii-bodnar commented on #186
@stevi-clue, thanks a lot for the details provided!

Actually, you can select any file for a release in distribution and there is a possibility to manually access these files - [Content Delivery](https://support.crowdin.com/content-delivery/#for-web-applications)

[2022-04-26 12:13] stevi-clue commented on #186
Thanks for the link! The instruction for manual access is only mentioned in the Web Application section, but I assume that this should also work if we fetch those files from iOS and Android via HTTP request?

[2022-04-26 12:14] andrii-bodnar commented on #186
@stevi-clue right, it will work in this case

[2022-04-26 15:41] andrii-bodnar commented on #186
@stevi-clue access token is not needed here. Probably the content path is wrong (403 is an incorrect status code for this case, but it's AWS returning this code).

Could you please specify your distribution hash? In case you are concerned about your distribution data, it's a better idea to share this hash using the [contact form](https://crowdin.com/contacts) with a specifying this issue.

[2022-04-26 16:17] stevi-clue opened #187 "Copies/translations not fetched inside the completion block of CrowdinSDK.startWithConfig on a fresh install"
Hi there!

I successfully integrated the CrowdinSDK in my app using Swift Package Manager and I am using OTA content delivery. On the first app launch with internet enabled, when I enter the completion block of `CrowdinSDK.startWithConfig`, and fetch the copy for a specific key using `NSLocalizedString(key, comment: "")`, I am only getting the key and not the copy. If I kill and relaunch the app,

[2022-04-26 16:19] stevi-clue commented on #186
Thanks! I will try to change the path and let you know how it goes.

[2022-04-26 16:54] stevi-clue commented on #187
Thanks for the fast reply Dima! :)

I was playing a bit around with breakpoints in the SDK and my hunch is that it might be due to `Localization.refreshLocalization() -> Localization.fetchRemoteLocalization()` being first called when the localization is set in the init of the LocalizationProvider. The LocalizationProvider is initialized in the `setRemoteStorage` which does not call a completion bl

[2022-04-26 18:22] andrii-bodnar commented on #187
@serhii-londar could you please assist with this?

[2022-04-27 08:33] serhii-londar commented on #187
Hi @stevi-clue, you need to add a download handler:
`CrowdinSDK.addDownloadHandler {
            NSLocalizedString(key, comment: "")
 }
`

[2022-04-28 10:28] serhii-londar commented on #187
@stevi-clue Does it helped?

[2022-05-06 00:59] chrispomeroyhale opened #188 "Caching does not work when the network is down"
**Describe the bug**
When I start the SDK to download translations for a non-source language and the `.strings` files fail, it falls back to the cached values. But if I start the SDK and the `manifest.json` network request fails it falls back to the bundled translations. This is inconsistent and suggests caching is not working. If the Crowdin CDN is down in any way, it shouldn't matter which reque

[2022-05-06 01:17] chrispomeroyhale commented on #187
My team had a similar question as well.

In my opinion, the `completion` parameter to `startWithRemoteStorage` is not well documented as to what receiving a completion callback means to us client apps. In our observation `startWithRemoteStorage` ultimately calls *three* different network endpoints. What if one of them fails? `CrowdinSDK.addDownloadHandler` has the same documentation issue -- is th

[2022-05-06 07:47] vance-od commented on #185
hi team
what are the next steps here? How can we understand when this can be fixed?

This problem is blocking us from fully switching to Crowdin as a source of localization, as our application has to work on both iOS and watchOS

[2022-05-06 09:48] ira-sem commented on #185
@vance-od replied via email
As soon as we will have any updates, we will let you know immediately

[2022-05-09 21:17] serhii-londar commented on #185
@Radzievskyi Hi. Can you try to integrate SDK from "#185" branch? watchOS support should be fixed.

[code]

[2022-05-11 08:12] Radzievskyi commented on #185
@serhii-londar Hello! Thank you for your update!

Unfortunately I have an issue with launch application with integrated branch “#185”.

For test it.

1. I created a new project for iOS with Swift
2. I added Swift package:
![Screen-Shot-2022-05-11-at-10 42 20](https://user-images.githubusercontent.com/9761780/167800890-95a17ab2-b07b-4d2d-9898-be9d9571785c.jpg)

3. Added to AppDelegate.swift simple

[2022-05-11 08:55] serhii-londar commented on #185
@Radzievskyi The reason is that SDK for watchOS doesn't support login and related features(screenshots and real-time updates), it supports only content delivery feature.
We will note that in Readme.
Please try the following initialisation:
[code]

[2022-05-11 13:56] #173 closed

[2022-05-11 13:57] #165 closed

[2022-05-11 13:57] serhii-londar commented on #185
@Radzievskyi Any updates?

[2022-05-12 08:21] Radzievskyi commented on #185
@serhii-londar I integrated SDK to the main project. Is work. Thank you!

What we should do next? Use branch #185 or you will merge it with main?

[2022-05-12 08:52] serhii-londar commented on #185
@Radzievskyi Thank you for the testing! We will merge it to master and prepare a new release.

[2022-05-12 08:54] #185 closed

[2022-05-12 19:12] serhii-londar commented on #188
@chrispomeroyhale Hi, can you please try with the current master branch. this problem should be fixed.

[2022-05-12 19:13] #176 closed

[2022-05-17 11:44] #159 closed

[2022-05-17 11:44] #126 closed

[2022-06-06 19:55] #177 closed

[2022-06-06 19:55] #188 closed

[2022-06-08 12:54] alexookah opened #194 "SPM 1.4.2 version not working"
`Cannot find 'CrowdinLoginConfig' in scope`

The last update does not work with SPM. try to run with SPM before releasing a new version.

[2022-06-08 13:02] andrii-bodnar commented on #194
@serhii-londar

[2022-06-08 15:27] andrii-bodnar commented on #194
Hi @alexookah!

Is there any more detailed backtrace?

[2022-06-29 09:01] andrii-bodnar commented on #194
Hi @alexookah!

Currently, Crowdin SDK for SPM supports only the Content Delivery feature. We are working on adding the Screenshots and Real-Time Preview features support for the SPM package.

[2022-07-04 13:26] Radzievskyi opened #196 "iOS crash: #0 (null) in Swift runtime failure: Unexpectedly found nil while unwrapping an Optional value ()"
**Describe the bug**
We got crash log in Xcode from our user. As I see log issue happened in Crowdin SDK:
_**#0	(null) in Swift runtime failure: Unexpectedly found nil while unwrapping an Optional value ()**_

This happened in file:
**_CustomBundle.swift_**

In the Class:
**_FolderBundle: FolderBundleProtocol_**

Initializer:
`init(path: String)`

Line:
`self.bundle = Bundle(path: folder.path)!`

[2022-07-16 16:15] #196 closed

[2022-08-01 10:50] Radzievskyi opened #199 "Crash self.stringsDataSource = StringsLocalizationDataSource(strings: strings) in LocalizationProvider"
**Describe the bug**
We received crash report from Crowdin SDK file

**To Reproduce**
Steps to reproduce the behavior:
1. In our application on launch app, from AppDelegate.swift in:

`func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool`

we call:

[code]

1*. Also `initCrowdin() ` we call on AppleWatch in clas

[2022-08-01 11:28] andrii-bodnar commented on #199
Hi @Radzievskyi!

Is there any way to reproduce this issue on a sample iOS project?

[2022-08-01 14:05] Radzievskyi commented on #199
Hello @andrii-bodnar

Sorry, I got this crash log report from our TestFlight on AppstoreConnect. I can't exactly reproduce it on my device. So I can't build representative a sample iOS project.

But I checked log what I show previous more detail, and I found, when crash happened in Thread 2. Is have another Thread 9, what look similar to 2:

<img width="1326" alt="Screen Shot 2022-08-01 at 16 34 4

[2022-08-22 19:21] Sam0711er commented on #194
Hey there! @andrii-bodnar What's the current status/timeline of adding the Live Preview Capabilities to SPM?

Greetings from Berlin 🙏

[2022-08-23 07:47] andrii-bodnar commented on #194
Hi @Sam0711er!

Currently, we are working on this. It requires a lot of structural changes and refactoring.

Sorry for the inconvenience!

[2022-08-23 16:04] serhii-londar commented on #194
@Sam0711er What platforms do you need support for?

[2022-08-23 16:35] Sam0711er commented on #194
@serhii-londar Our application runs native on iOS/iPadOS and also on macOS using Mac Catalyst (Universal)

[2022-09-08 12:17] mahyarworkday opened #200 "CDN setup with .xml file"
Hey guys

I'm trying to implement the SDK in our iOS app, but I'm having difficulty with getting it to work.
The issue I'm having is that the translation files dont get downloaded at all. After some playing around I found out that the problem seems to be with us using ".xml" instead of ".string" file.
I couldnt find any documentation on this, so I'm not sure if it's me doing something wrong or the

[2022-09-08 12:19] andrii-bodnar commented on #200
Hi @mahyarworkday!

The iOS SDK works only with the native iOS string/stringsdict file formats. Also, the iOS XLIFF is supported

What kind of XML files you are using?

[2022-09-08 12:32] mahyarworkday commented on #200
Hey @andrii-bodnar

I see, then it makes a bit more sense.
The xml file i'm using looks pretty much like this:

<?xml version="1.0" encoding="utf-8"?>
<resources xmlns:xliff="urn:oasis:names:tc:xliff:document:1.2">
    <string name="app_name" comment="NOT TO BE TRANSLATED">App Name</string>
    <string name="string_inside_app">Title</string>

[2022-09-08 12:41] andrii-bodnar commented on #200
@mahyarworkday this file looks like a regular Android XML file

There is a "Bundles" feature in Crowdin. This feature allows adding and configuring bundles for exporting sets of strings in one of the selected formats and this feature supports export to the iOS Strings file format.

Then, bundles can be used in the Content Delivery while creating a Distribution for your iOS app.

Read more - [Bundl

[2022-09-26 08:36] #186 closed

[2022-09-27 22:39] Sam0711er commented on #194
Hi @andrii-bodnar @serhii-londar! Just checking to see how y'all are moving along with Support for SPM for the Live Preview Capabilities. Can you already share a rough estimate on when the necessary changes have been performed? Thx!

[2022-10-07 15:14] andrii-bodnar opened #203 "Make API calls to the `api.crowdin.com` instead of `crowdin.com`"
Calls to the Crowdin API should be invoked to the `https://api.crowdin.com` (crowdin.com) and `https://{organization_domain}.api.crowdin.com` (Crowdin Enterprise) base URLs.

There are a few files where the API base URL should be updated:

- [CrowdinAPI.swift](https://github.com/crowdin/mobile-sdk-ios/blob/c91b16912d14f628c69672d3a9f3a3e18a12f632/Sources/CrowdinSDK/CrowdinAPI/CrowdinAPI.swift)
- [

[2022-10-07 15:29] manish-singh-bisht commented on #203
Hey @andrii-bodnar  I am interested in doing this, please assign me this.

[2022-10-07 18:05] #203 closed

[2022-10-28 15:24] andrii-bodnar commented on #194
@alexookah we merged this PR but haven't released the new version yet

[2022-10-28 15:35] alexookah commented on #194
then maybe this ticket should not have close until it's released and ready to use

[2022-11-01 15:28] #194 closed

[2022-11-01 15:29] andrii-bodnar commented on #194
@alexookah available in [1.5.0](https://github.com/crowdin/mobile-sdk-ios/releases/tag/1.5.0)

[2022-11-03 09:11] edvinass opened #208 "Cannot find 'ScreenshotFeature' in scope"
**Describe the bug**
Cannot find 'ScreenshotFeature' in scope
SDK 1.5.0 version, using swift package manager in Xcode 14.0

Tried regular troubleshooting steps:
- to clean the build
- remove derived data
Still no luck.

**To Reproduce**
Steps to reproduce the behavior:
1. Add crowding SDK swift package into project
2. import SwiftUI
3. try to access ScreenshotFeature.shared
4. Cannot find 'Screens

[2022-11-03 21:54] serhii-londar commented on #208
@edvinass Unfortunately ScreenshotFeature is SDK internal class. you don't have to use it. Instead, you should use static methods of CrowdinSDK class:
[code]

I see that we have added an incorrect guide to our readme file :( Sorry for the inconvenience!

[2022-11-04 09:00] edvinass commented on #208
I see. Thank you for the help!!!

[2022-11-04 09:00] #208 closed

[2022-11-14 17:30] edvinass opened #210 "SDK with SwiftUI does not seem to do much?"
**Describe the bug**
I am not sure if this is a bug or you just don't support SwiftUI.
I was under assumption if you make screenshot all the strings should be taged in them automatically,
but only got can see string from UIKit context.

**Additional context**
Is this a bug? If not are you planning to add SwiftUI support any time soon?
Thanks!

[2022-11-14 21:14] andrii-bodnar commented on #210
Hi @edvinass,

The SwiftUI support is a bit limited now due to technical reasons. Have you seen the [SwiftUI support](https://github.com/crowdin/mobile-sdk-ios#swiftui-support) section in the Readme? Is it helpful for you or not?

Anyway, thanks for the request!